#nbextension-scratchpad {
  position: absolute;
  left: 0;
  top: auto !important;
  bottom: -1px !important;
  width: 100%;
  background-color: #F8F5E1;
  border-top: 1px solid #aaa;
  z-index: 105;
}

#nbextension-scratchpad .cell-wrapper {
  height: 100%;
  padding-top: 8px;
  overflow: auto;
}

.scratchpad-btn {
  float: right;
  margin-right: 24px;
  opacity: 0.2;
  font-size: 24px;
  z-index: 106;
}

.scratchpad-btn:hover {
  opacity: 1;
}

.scratchpad-close {
  display: none;
  position: absolute;
  float: right;
  bottom: 8px;
  right: 0;
}

.scratchpad-open {
  margin-top: -32px;
}

#nbextension-scratchpad .ui-resizable-icon {
  position: absolute;
  left: calc(50% - 8px);
}